In [1]:
# question-1

In [1]:
# Database is a collection of data that is organised which can be used for various purposes. Databases is an collection that can be updated, accessed at any time.
# But there are two types of databases relational adn noSql
# Relational database is more like structured database where data is structured format or tabular format where as relational database is a database which can be both
# strutural and unstructured 

# SQL is also called structured query language means it stores data in structured tabular format.
# NOSQL does not mean it is not sql but it is beyond Sql means it can store multiple types of databases it can store huge data.

# types of SQL are :
# Microsol SQL server, Mysql, Postgre, Oracle 

# Types of Nosql are:
# Cassandra, Mongodb, Redis, Hbbase.

In [2]:
# question - 2

In [3]:
# DDL is Data definition languag it is set of SQL Statements that are used to define databases. DDL Statements are used to create, modify and delete databases.

In [4]:
# Create is used to create new objects in database and the above code is written in sql not in jupyter notebooks 
# CREATE TABLE Products( id INT NULL AUTO_INCREMENT, name VARCHAR(255), price INT, quantity Int)

In [5]:
# Drop is used to delete objects in Database 

# DROP TABLE Products

In [6]:
# ALTER is used to modify objects following statement adds new object called description 

# ALTER TABLE products ADD COLUMN descriptions VARCHAR(200)

In [7]:
# TRUNCATE IS used to delete all the data from the table not table itself 

# TRUNCATE TABLE products

In [8]:
# question - 3

In [9]:
# Here DML Stands for Data Manipulation Language this language is used to manipulate or change data according time and situations 
# They are three types of keys used : Insert, Update, Delete

In [10]:
# Insert us used to insert new data into table 

# INSERT INTO products (name, price , quantity)
# VALUES ("google pixel 7 ", 1020, 200)

In [11]:
# UPDATE Is used to update the price and names of the products 

# UPDATE products 
# SET price = 2000
# WHERE name = "google pixel 7"

In [12]:
# DELETE IS used to insert new data into a table 

# DELETE products 
# WHERE ID = 1

In [13]:
# QUESTION - 4

In [15]:
# DQL OR data query language is a set of statements that are used to retrieve data from databse 

# TEMPLATE MODE 
# SELECT * COLUMN_NAME (LIST of column names)
# FROM TABLE_NAME (NAME OF THE TABLE WHERE IT IS SELCTED )
# WHERE CONDITION (CONDITIONS IT HAS TO FOLLOW)

In [16]:
# EG
# SELECT * name, price 
# FROM products
# WHERE price > 1000

In [17]:
# question - 5

In [18]:
# Primary key is a column in a table where it uniquely identifies each table like {s.no} while writing a table where as foreign key is the column of 
# another table but not compulsority unique like {s.no} of one table can also be {s.no} of another table .
# Primary key is mandatory and foreign key is optional 
# Foreign key is used to establish relationship between two tables

In [19]:
# question - 6

In [20]:
# This code should have written in Sql+ python environment of python but due submission problem it has been written here but same code applies if you write it in 
# sql environment

In [22]:
# code
# import mysql.connector

# mydb = mysql.connector.connect(
#     host = "localhost",
#     user = "abc",
#     password = "password") 

# mycursor = mydb.cursor()
# mycursor.excute("select from the table ")

# results = mycursor.fetchall()
# mydb.close()

# if __name__ == "__main__":
#     connect_to_mysql()

In [23]:
# here in the above code (mycursor) creates a cursor which is used to create cursor object which inturn used to help in executing the SQL 
# Execute object is used to execute the code and fetchall is used to fetch all the results

In [24]:
# question - 7

In [25]:
# SELECT *
# FROM my_table
# WHERE name = 'John Doe'
# GROUP BY age
# HAVING age > 18
# ORDER BY age DESC
# LIMIT 10;

In [ ]:
# here from is used so it tells database to look for my_table(object)
# Where represents the conditions 
# GROUP BY represents to group names by age 
# having is condition where they are grouped according to age 
# Order by represents how group should be ordered 
# limit means to return only 10 results