In [15]:
# problem 1

HERE IN THE FUNCTION OF PYTHON WE USE (def) keyword to denote function

In [16]:
numbers = list(range(0,25))

In [18]:
try:
    odd_number = []
    def odds(numbers):
        for i in numbers:
            if i % 2 != 0: 
                odd_number.append(i)
           
            
        return odd_number
except Exception as e:
    print(e)

In [19]:
odds(numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [20]:
# problem 2

In [21]:
# args and kwargs are used in function to give multiple arguements in single function it is not necessary that we should use args only we can use any work what is much needed is * before the word

In [22]:
try:
    def test1(*args):
        return args
except Exception as e:
    print(e)

In [23]:
test1(2,3,4,5,6,["shankar","royal seema"],878)

(2, 3, 4, 5, 6, ['shankar', 'royal seema'], 878)

In [26]:
# second type
def test2(*args , a):
    return args,a

In [27]:
test2(1,2,3,4,5,6, a = 666)

((1, 2, 3, 4, 5, 6), 666)

In [28]:
# kwargs return dictionary type results  here also the particular word kwargs is not necessary but ** is what makes it different from args

In [31]:
try:
    def test3(**kwargs):
        return kwargs
except Exception as e:
    print(e)

In [33]:
type(test3())

dict

In [34]:
test3(a = [1,2,3,4,5] , b = "shivaji", c = [9.7])

{'a': [1, 2, 3, 4, 5], 'b': 'shivaji', 'c': [9.7]}

In [35]:
# problem3

In [36]:
# iterator is an object that contains countable iterable values the method used in iterating a list is either for loop or while loop means loops are used for iteration
# string is not iterator first it should be changed to iterator then iterate

In [37]:
l = [2,4,6,8,10,12,14,16,18,20]

In [43]:
try:
    for i in l:
        print(i)
except Exception as e:
    print(e)

2
4
6
8
10
12
14
16
18
20

In [47]:
# problem 4

In [48]:
# generator function produces the value when it is iterated over
# yeild is similar to return value of function it returns the generator value when function is called it returns yield of the function not exactly return

In [50]:
# fibonaci number example

try:
    def fibNo(n):
        a,b = 0,1
        for i in range(n):
            yield a
            a,b =b , a+b
except Exception as e:
    print(e)

In [51]:
for i in fibNo(12):
    print(i)

0
1
1
2
3
5
8
13
21
34
55
89

In [52]:
# problem5

In [59]:
try:
    def gen_prime(N):
        primes = set()
        
        for n in range(2,1000):
            if all(n % p > 0 for p in primes):
                primes.add(n)
                yield n
    print(*gen_prime(1000))
except Exception as e:
    print(e)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [ ]:
try:
    def gen_prime(N):
        primes = set()
        
        for n in range(2,):
            if all(n % p > 0 for p in primes):
                primes.add(n)
                yield n
    print(*gen_prime(1000))
except Exception as e:
    print(e)

In [60]:
# problem 6

In [4]:
# fibonacci number

try:
    def fib():
        a,b = 0,1
        while True :
            yield a
            a,b = b , a+b
            
except Exception as e:
    print(e)

In [5]:
s = fib()

In [6]:
for i in range(10):
    print(next(s))

0
1
1
2
3
5
8
13
21
34

In [7]:
# problem 8

In [8]:
num = int(input("what is the number"))

temp = num 
rev = 0

while (num > 0):
    dig = num % 10
    rev = num*10 + dig 
    num = num //10 
    
if (temp == rev):
    print("the number is palidrome")
else:
    print("this number is not palidrome")

what is the number 5643

this number is not palidrome

In [ ]:
# problem9

In [1]:
l = list(range(1,100))

In [2]:
l1 = [i for i in range(0,100)]

In [3]:
(l1)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [5]:
[(i) for i in l1 if i%2 != 0 ]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]